# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/

# Environment variables
.env

# Logs
*.log

# Node.js
node_modules/
frontend/node_modules/

# Database
*.sqlite
*.db

# ChromaDB
chroma_db/

# Uploads
uploads/

# Frontend build
frontend/build/

# IDE / OS
.idea/
.vscode/
.DS_Store